@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;
  filter: blur(6px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: linear-gradient(13deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.1));
  backdrop-filter: blur(10px);
  padding: 0px 20px;
  color: #fff;
  box-shadow: 0px 5px 30px #ddd;

  button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(40, 40, 243);
    color: whitesmoke;
    outline: none;

    &:hover {
      background-color: blue;
    }
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.start {
  display: block;
  width: 500px;
  height: 230px;
  margin-bottom: 160px;
  background-color: #86868683;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #8f8f8fd3;

  &:hover {
    box-shadow: 0px 0px 20px #000;
  }

  h2 {
    font-size: 35px;
    text-align: center;
    margin: 10px auto;
  }

  .role {
    width: 400px;
    margin: 10px 60px;
    font-weight: 600;

    li {
      line-height: 25px;
    }
  }
  button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 0px 270px;
    border-radius: 5px;
    border: none;
    background: url(../images/bg1.jpeg);
    color: #fff;
    outline: none;
    cursor: pointer;
    filter: contrast(95%);

    &:hover {
      border: 2px solid #afafaf;
      height: 45px;
      box-shadow: 0px 0px 10px #000;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

:root {
  ---bd: dashed;
  ---bs: solid;
}

.quiz-container {
  display: none;
  /* background-color:  rgb(214, 217, 219); */
  background-color: black;
  color: #fff;
  width: 450px;
  height: 500px;
  margin-bottom: 70px;
  border-radius: 5px;
  border: 2px solid seagreen;
  font-family: "Poppins", sans-serif;

  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 604px;
    width: 310px;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%);
    height: 515px;
    background-color: transparent;
    border-right: 4px var(---bs) gold;
    border-top: 4px var(---bs) gold;
    border-bottom: 4px var(---bs) gold;
    border-radius: 4px;
    z-index: -10;
    animation: an;
  }
  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 447px;
    width: 250px;
    clip-path: polygon(0 0, 100% 0, 45% 100%, 0 100%);
    height: 515px;
    background-color: transparent;
    border-left: 4px var(---bd) gold;
    border-top: 4px var(---bd) gold;
    border-bottom: 4px var(---bd) gold;
    border-radius: 4px;
    z-index: -10;
  }

  #question {
    margin: 10px 30px;
    font-size: 18px;
  }

  .options {
    display: flex;
    flex-direction: column;
    height: 280px;
  }

  label {
    border: 2px solid #fff;
    width: 400px;
    padding: 13px 30px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px;

    span {
      margin-left: 10px;
    }

    &:hover {
      background-color: #6e76e9;
      color: #000;
      font-weight: 500;
    }

    input {
      accent-color: red;
    }
  }

  button {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 70px;
    border-radius: 6px;
    border: none;
    font-size: 25px;
    background-color: green;
  }
}

#result {
  display: grid;
  place-content: center;
  height: 500px;
  width: 450px;
  gap: 20px;

  h2 {
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
  }

  button {
    width: 200px;
    height: 50px;
    background-color: #6e76e9;
    color: #fff;
    margin-left: 120px;

    &:hover {
      background-color: #505ae6;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

#result h1{  
    text-align: center;
    font-size: 50px;
    text-decoration: underline ;
    text-decoration-color: rgb(83, 83, 83);
  
}

.tier{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;

  h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline ;
    text-decoration-color: rgb(83, 83, 83);
  }

  p{
    font-size: 30px;
    width: 100px;
    font-family: "Raleway", sans-serif;
  }
}